<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EmpresaTicketsDB" connectionString="Server=DESKTOP-H431UOH\SQLEXPRESS;Database=EmpresaTickets;Trusted_Connection=True;" />
    </connectionStrings>
</configuration>